@page
@model CriticalIssueModel
@{
    ViewData["Title"] = "Critical Issue";
}
<h2>@ViewData["Title"] - Vehicle Related Deaths in The United States</h2>
<br /><br />
<img src="/images/accident.jpg" alt="Image failed to load / accident.jpg" width="800" height="500" />
<br /><br />
<p style="font-size: large">
    As mentioned in the introduction, every year more than 30,000 people die to vehicle related deaths
    and many of these accidents can be stopped with the help of autonomous vehicle technology <i>(NHTSA Quick Facts 2016)</i>. Since 2010, every year there
    are on average up to 5,000,000 crashes in the United States alone. Half of these crashes result in injury. Of the 30,000 average
    that die annually, 2,000 of those are children under 16 <i>(NHTSA Crash Fatalities)</i>. 
</p>

<br /><br />
<form action="FieldofStudy">
    <input type="submit" value="Field of Study ->" />
</form>

<br /><br />
<p style="font-size:xx-small">
    <b>
        NHTSA Quick Facts 2016: <a href="https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812451" target="_blank">https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812451</a>
        <br /> NHTSA Crash Fatalities: <a href="https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/810853" target="_blank">https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/810853</a>
    </b>
</p>