@page
@model CriticalIssueModel
@{
    ViewData["Title"] = "Critical Issue";
}
<h2>@ViewData["Title"] - Vehicle Related Deaths in The United States</h2>
<br /><br />
<img src="/images/accident.jpg" alt="Image failed to load / accident.jpg" width="800" height="500" />
<br /><br />
      <p style="font-size: large">
          As mentioned in the introduction, every year more than 30,000 people die to vehicle related deaths
          and many of these accidents can be stopped with the help of autonomous vehicle technology <i>(NHTSA Quick Facts 2016)</i>. Since 2010, every year there
          are on average up to 5,000,000 crashes in the United States alone. Half of these crashes result in injury. Of the 30,000 average
          that die annually, 2,000 of those are children under 16 <i>(NHTSA Crash Fatalities)</i>.
          Although the number of deaths declined over most of the previous two decades, the trend reversed in 2014 and continued to move upward in 2016 and 2017. 
          This should be alarming considering the advances we’ve made in vehicle safety since 2000. 
          The NHTSA (National Highway Traffic Safety Administration continues to give many vehicles 4 and 5 star ratings in safety, rarely below 4.
          How could it be that cars are becoming safer in every way, but vehicle related deaths is still stagnant or climbing? The ‘human’ component behind operating these vehicles is the only explanation.
          Although cars have become safer, we’ve become more distracted by our electronic devices, and thus become less safe. 
          In order to offset our obvious addiction to our devices, something will have to be done to eliminate the ‘human’ element from driving so as to make the roads safer and ultimately bring vehicle-related deaths down considerably.
      </p>

<br /><br />
<form action="FieldofStudy">
    <input type="submit" value="Field of Study ->" />
</form>

<br /><br />
<p style="font-size:xx-small">
    <b>
        NHTSA Quick Facts 2016: <a href="https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812451" target="_blank">https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/812451</a>
        <br /> NHTSA Crash Fatalities: <a href="https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/810853" target="_blank">https://crashstats.nhtsa.dot.gov/Api/Public/ViewPublication/810853</a>
    </b>
</p>