@page
@model FeaturedInsectModel
@{
    ViewData["Title"] = "Featured Insect";
}
<h2>@ViewData["Title"] - <i>Sympetrum Flaveolum</i></h2>
<br /><br />
<img src="/images/sympetrumflaveolum.jpg" alt="Image failed to load / sympetrumflaveolum.jpg" width="800" height="500" />
<br /><br />

<p style="font-size: large">
    For my project and critical issue, the specific species that comes into play is the humble Dragonfly. 
    Given the scientific name: <b><i>Sympetrum Flaveolum</i></b>, 
    the Dragonfly is an insect belonging to the order Odonata, and infraorder Anisoptera. 
    Dragonflies carry the characteristics of having large multi-faceted eyes, two pairs of wings, and an elongated body. 
    Dragonflies are very predatory beings and will usually hunt in aquatic areas. They feed on freshwater invertebrates, as well as tadpoles and even small fish.
</p>

<br /><br />

<img src="~/images/dragonflymating.jpg" alt="Failed to load image / dragonflymating.jpg" width="800" height="500" />

<br /><br />

<p style="font-size: large">
    Dragonfly mating is complex and involves indirect sperm transfer, sperm storage, delayed fertilization, and even sperm competition. 
    Males will usually defend territories near water, which provide a suitable habitat for their larvae to develop, and for females to lay eggs. 
    As for their life cycle, Dragonflies are hemimetabolous insects; they do not have a pupal stage and undergo an incomplete metamorphosis with a series of nymphal stages from which the adult emerges.
</p>

<br /><br />

<img src="~/images/stmd.jpg" alt="Failed to load image / stmd.jpg" width="800" height="500" />

<br /><br />

<p style="font-size: large">
    Specific to my project and critical issue of improving autonomous vehicle technology, I researched how a neuron within the brain of a dragonfly allows it to anticipate the movement trajectory of its prey. 
    These <b>STMD (Small Target Motion Detection) neurons</b> could have the potential to teach us how to create incredibly accurate motion prediction software that will give autonomous vehicles the next level of safety and improvement.
</p>

<br />

<form action="HumanConnection">
    <input type="submit" value="Human Connection ->" />
</form>

<br /><br />

<p style="font-size: x-small">
    <b>
        Facilitation of dragonfly target-detecting neurons by slow moving features on continuous paths: <a href="https://www.frontiersin.org/articles/10.3389/fncir.2012.00079/full" target="_blank">https://www.frontiersin.org/articles/10.3389/fncir.2012.00079/full</a>
    </b>
</p>