@page
@model FieldofStudyModel
@{
    ViewData["Title"] = "Field of Study - Business Information Systems";
}
<h2>@ViewData["Title"]</h2>

<br /><br />

<img src="~/images/bis.jpg" alt="Failed to load image / bis.jpg" width="800" height="500" />

<br /><br /><br />

      <p style="font-size: large">
          I am a Business Information Systems student in the college of business. 
          My field of study is composed of mostly business information systems (IT) but perhaps even some computer science.
          Overall, Information Systems encompasses a variety of topics like systems analysis and design, computer networking,
          information security and IT, and even database management.
          My field of study contributes to society through means of understanding data and applying that knowledge to whatever means we can in order to make the world a better place. 
          This can come in a host of forms, some of which include automation of tasks, increasing efficiency of processes, as well as numerous others.
      </p>

<br /><br />

      <form action="FeaturedInsect">
          <input type="submit" value="Featured Insect ->" />
      </form>

<br /><br />

