@page
@model HumanInsectConnectionModel
@{
    ViewData["Title"] = "Human Connection";
}
<h2>@ViewData["Title"]</h2>

<br /><br />

<img src="~/images/autonomousvehiclevision.jpg" alt="Failed to load image / autonomousvehiclevision.jpg" width="800" height="500" />

<br /><br />

<p style="font-size: large">
    With the help of dragonflies and subsequent research of their neural networks, specifically surrounding STMD (Small Target Motion Detector) neurons, we may be able to more accurately create software and hardware that will make autonomous vehicles more attractive to skeptics.
    Dr. Steven Wiederman is a research supervisor at the University of Adelaide Medical School in Australia and subsequently believes that after thorough research that the STMD neuron in the dragonfly's brain could in fact lead to a breakthrough in vehicle vision systems.
    A prevailing factor for this is the fact that a dragonfly's visual focus on prey is so strong that it can maintain focus even when its target becomes embedded against a littered background of other objects.
    The university is even currently testing sensing techniques derived from the dragonfly with their very own autonomous robot with wheels.
    The current issue autonomous vehicles keep running into is priority decision making with at least two choices in given situations. "Biological brains have the ability to competitively select one stimulus amidst distracters" Wiederman explains. As soon as we can understand
    the mechanisms at work amongst these neurological pathways, we'll be much closer to creating better systems for autonomous vehicles <i>(Dragonfly study yields insight into vehicle autonomy)</i>.
</p>

<br /><br />

<img src="~/images/dragonflypolarization.jpg" alt="Failed to load image / dragonflypolarization.jpg" width="800" height="500" />

<br /><br />

<p style="font-size: large">
  The implementation of biomechanisms like this into modern technology will hopefully kickstart more research and projects like it. 
  As more and more technology is shaped with the help of biological engineering, the insect-human relationship will further flourish and hopefully challenge many of the negative stereotypical views of insects amongst different cultures and peoples. 
  As has been shown in numerous generations of our peoples, we have learned many things from insects and will hopefully continue to do so, but now with the ability to go one step further and learn more, faster, on an even greater scale.
</p>

<br /><br />

<p style="font-size: x-small">
    <b>
        Dragonfly study yields insight into vehicle autonomy: <a href="https://www.sae.org/news/2017/08/dragonfly-study-yields-insight-into-vehicle-autonomy" target="_blank">https://www.sae.org/news/2017/08/dragonfly-study-yields-insight-into-vehicle-autonomy</a>
    </b>
</p>