@page
@model IndexModel
@{
    ViewData["Title"] = "Introduction";
}

<h1><b><i>Sympetrum Flaveolum</i> & Autonomous Vehicles</b></h1>

<br />
<br />

<img src="/images/a.jpg" alt="image failed to load / a.jpg"/>

<h3>Introduction</h3>

<p style="text-align: left; font-size: large">
   Every year more than <b>30,000</b> people die in car accidents across the United States.
   Many of these crashes are usually caused by <b><i>distracted driving or lack of knowledge of a driver’s surroundings</i></b>.
   These crashes could be prevented with the help of autonomous vehicles. 
   One would expect that as technology has become more advanced, vehicle-related deaths per year would be dramatically falling but statistics have shown otherwise. 
   Since 2014, fatality rates have actually steadily increased.
</p>

<br />

<img src="/images/ustrafficdeaths.png" alt="image failed to load / ustrafficdeaths.png" width="500" height="200"/>

<br /><br /><br />

            <p style="text-align: left; font-size: large">
                Although many people consider autonomous vehicles to be more dangerous, as more of these cars have made it onto the road, they have proven that even in tandem with manual driving, they can be much safer to operate without making mistakes.
                With the help of dragonflies and subsequent research of their neural networks, specifically surrounding STMD (Small Target Motion Detector) neurons, we may be able to more accurately create software and hardware that will make autonomous vehicles more attractive to skeptics.
                Throughout this site we will explore the statistics about vehicle-related deaths in the United States <i>(Motor vehicle fatality rate in the U.S. by year)</i>, as well as Sympetrum Flaveolum and how with the help of its STMD neurons, it can teach us more about motion trajectory and prediction to build faster and better software for autonomous vehicle sensors.
            </p>

<br /><br />

<form action="CriticalIssue">
    <input type="submit" value="Critical Issue ->" />
</form>

<br /><br />

<p style="font-size: x-small">
    <b>
       Motor vehicle fatality rate in the U.S. by year: <a href="https://en.wikipedia.org/wiki/Motor_vehicle_fatality_rate_in_U.S._by_year" target="_blank">https://en.wikipedia.org/wiki/Motor_vehicle_fatality_rate_in_U.S._by_year</a>
    </b>
</p>